extends ./layout.jade
block contenido
  div(class="col-md-6 remove-float center-block big-top-space")
    form(action="/users" method="POST")
      div(class="form-group")
        label(for="email") Email   
        input(type="correo", name="email", placeholder="Email", id="email" class="form-control")
      div(class="form-group")
        label(for="username") Username   
        input(type="text", name="username", placeholder="Username", id="username" class="form-control")
      div
        label(for="password") Clave   
        input(type="password" name="password" placeholder="Clave" id="password" class="form-control")
      div
        label(for="password_confirmation") Confirma la Clave   
        input(type="password" name="password_confirmation" placeholder="Clave" id="password_confirmation" class="form-control")
      
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          input(type="submit" value="Iniciar sesión" class="btn btn-info")
        div(class="col-xs-12 col-sm-6 text-right")
          a(href="/login") Ya tengo una cuenta